.container_animation{
    background-color: bisque;
    text-align: center;
    margin: 100px 10px;
    padding: 100px 0px;
}
.container_animation .img1{
    animation-name: xyz;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
} 
.container_animation .img2{
    animation-name: topBottom;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    /*alternate ---> 0 to 100 then 100 to 0 */
    /* normal --> 0 to 100 */
    animation-direction: alternate; 
} 
.box{
    animation-name: tadinDinta;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes xyz {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes topBottom {
    0%{
        transform: translateY(-100px);
    }
    100%{
        
        transform: translateY(100px);
    }
}

@keyframes tadinDinta {
    0%{
        background-color: red;
    }
    25%{
        background-color: yellow;
    }
    50%{
        background-color: pink;
    }
    75%{
        background-color: brown;
    }
    100%{
        background-color: white;
    }
}

