<%- include('./partials/header.ejs')%>


    <!-- hero -->
    <h1>About us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas et dolore illum suscipit animi, similique cum
        perferendis officiis beatae iusto tenetur voluptatum minus laboriosam ea necessitatibus maxime ipsam obcaecati
        ducimus a aliquid, veritatis eveniet. Magnam expedita, ut reprehenderit nemo similique consequatur laboriosam
        nihil omnis nostrum quisquam rerum quasi ad ipsum alias ullam saepe possimus perspiciatis ipsa. Earum, debitis
        officiis. Velit, corrupti. Officia deserunt quasi quis architecto suscipit! Quod, rem dolorem ducimus voluptate
        enim facere quaerat? Cum ut veniam modi vel perferendis. Suscipit labore iste aut? Sequi qui saepe reiciendis,
        est perspiciatis rem, fugiat nam quibusdam vel, amet rerum ipsam eius.</p>



    <br>

    <ul>
        <% skills.forEach(function(skill){ %>
            <li>
                <%= skill%>
            </li>
            <% }); %>
    </ul>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
    </body>

    </html>