<%- include('./partials/header.ejs')%>


    <!-- hero -->
    <h1>Welcome to the devtrio | EJS</h1>
    <button id="btn">click</button>

    <br>

    <img src="imgs/cam.webp" alt="">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
    </body>

    </html>