.auth_wrapper {
    min-height     : 100vh;
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;

    background-color: var(--bg-color) !important;
    color           : var(--text-color) !important;
}

.form_container {
    padding          : 15px;
    box-shadow       : 5px 4px 5px 5px grey;
    border-radius    : 20px;
    display          : flex;
    flex-direction   : column;
    gap              : 5px;
    /* width         : 400px; */
    margin           : 0px auto;
}